html, body {
  width: 100%;
  height: 100%;
  font-family: 'Microsoft YaHei'; }

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 18.75rem;
  height: 2.2rem; }
  header span {
    position: absolute;
    left: 1.35rem;
    top: 0.7rem;
    width: 1.125rem;
    height: 0.8rem;
    background: url(../img/a1.png) no-repeat;
    background-size: 100%; }
  header h1 {
    width: 100%;
    height: 2.2rem;
    line-height: 2.2rem;
    text-align: center;
    background: #040404;
    color: #f5f9fa;
    font-size: 0.825rem; }

section.index {
  display: none;
  width: 18.75rem;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
  background: rgba(0, 0, 0, 0.5); }
  section.index span {
    width: 0.5rem;
    height: 0.5rem;
    display: block;
    position: absolute;
    left: 1.25rem;
    top: 0.5rem;
    color: #fff;
    font-size: 20px; }
  section.index ul {
    width: 12.5rem;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -6.25rem;
    margin-top: -6.25rem; }
    section.index ul li {
      width: 100%;
      height: 2.5rem;
      border-bottom: 0.025rem solid #fafafa; }
      section.index ul li a {
        display: block;
        line-height: 2.5rem;
        color: #fff;
        text-align: center;
        font-size: 1.25rem; }

section.banner {
  width: 18.75rem;
  height: 20rem;
  position: relative;
  margin-top: 2.2rem; }
  section.banner img {
    width: 100%;
    height: 20rem; }
  section.banner p {
    width: 8.75rem;
    font-size: 0.875rem;
    height: 0.875rem;
    color: #fff;
    position: absolute;
    left: 1.8rem;
    top: 10.7rem; }
  section.banner div {
    color: #fff;
    font-size: 1.6rem;
    line-height: 2.125rem;
    position: absolute;
    left: 1.725rem;
    top: 12.4rem;
    height: 2.125rem;
    width: 14.75rem; }
    section.banner div span {
      font-size: 1.6rem;
      text-align: center;
      width: 7.8rem;
      height: 2.125rem;
      display: inline-block;
      background: #f00; }

section.content {
  width: 18.75rem;
  height: 10.375rem;
  padding-top: 2.125rem;
  position: relative; }
  section.content span.first {
    display: inline-block;
    font-size: 1.2rem;
    color: #e81f32;
    width: 1.125rem;
    height: 1.2rem;
    margin-left: 1.35rem; }
  section.content h2 {
    display: inline-block;
    margin-left: 0.825rem;
    height: 1.2rem;
    font-size: 1.2rem; }
  section.content span.last {
    position: absolute;
    left: 3.325rem;
    top: 3.975rem;
    width: 2.125rem;
    height: 0.2rem;
    background: #f00; }
  section.content p {
    margin-left: 3.325rem;
    margin-top: 1.8rem;
    line-height: 1.2rem;
    font-size: 0.7rem;
    width: 12.25rem; }

section.svg {
  height: 9.975rem;
  width: 18.75rem;
  background: #fafafa;
  padding-top: 2.125rem;
  overflow: hidden; }
  section.svg ul {
    width: 43.75rem;
    text-align: center;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); }
    section.svg ul li {
      padding: 0 1rem;
      width: 4.25rem;
      float: left;
      text-align: center; }
      section.svg ul li img {
        display: inline-block;
        width: 1.75rem;
        height: 1.75rem;
        margin-bottom: 1.375rem; }
      section.svg ul li .bottom span {
        display: inline-block;
        font-size: 0.7rem;
        color: #000;
        margin-bottom: 0.45rem; }
      section.svg ul li .bottom p {
        width: 100%;
        text-align: center;
        line-height: 0.85rem;
        color: #999;
        font-size: 0.5rem; }

section.team {
  height: 15.725rem;
  width: 18.75rem;
  padding-top: 2.05rem;
  position: relative; }
  section.team span.first {
    display: inline-block;
    font-size: 1.2rem;
    color: #e81f32;
    width: 1.125rem;
    height: 1.2rem;
    margin-left: 1.35rem; }
  section.team h2 {
    display: inline-block;
    margin-left: 0.825rem;
    height: 1.2rem;
    font-size: 1.2rem; }
  section.team span.last {
    position: absolute;
    left: 3.325rem;
    top: 3.975rem;
    width: 2.125rem;
    height: 0.2rem;
    background: #f00; }
  section.team p {
    margin-left: 3.325rem;
    margin-top: 1.8rem;
    line-height: 1.2rem;
    font-size: 0.7rem;
    width: 12.25rem; }

section.yuan {
  height: 29.8rem;
  width: 18.75rem;
  padding-top: 1.45rem;
  position: relative;
  background: #29282e;
  color: #fff; }
  section.yuan span.first {
    display: inline-block;
    font-size: 1.2rem;
    color: #fff;
    width: 1.125rem;
    height: 1.2rem;
    margin-left: 1.35rem; }
  section.yuan h2 {
    display: inline-block;
    margin-left: 0.825rem;
    height: 1.2rem;
    font-size: 1.2rem; }
  section.yuan span.last {
    position: absolute;
    left: 3.325rem;
    top: 3.975rem;
    width: 2.125rem;
    height: 0.2rem;
    background: #fff; }
  section.yuan p {
    margin-left: 3.325rem;
    margin-top: 2.175rem;
    line-height: 1.2rem;
    font-size: 0.7rem;
    width: 12.25rem; }
  section.yuan video {
    margin-top: 1.2rem;
    width: 15.975rem;
    height: 10.2rem;
    margin-left: 1.4rem;
    position: relative; }
  section.yuan span.play {
    position: absolute;
    left: 50%;
    top: 70%;
    margin-left: -1.15rem;
    z-index: 1;
    width: 2.325rem;
    height: 2.325rem;
    background: url(../img/play.png) no-repeat;
    background-size: 100%; }

section.add {
  height: 11.85rem;
  width: 18.75rem;
  padding-top: 2.05rem;
  position: relative; }
  section.add span.first {
    display: inline-block;
    font-size: 1.2rem;
    color: #e81f32;
    width: 1.125rem;
    height: 1.2rem;
    margin-left: 1.35rem; }
  section.add h2 {
    display: inline-block;
    margin-left: 0.825rem;
    height: 1.2rem;
    font-size: 1.2rem; }
  section.add span.last {
    position: absolute;
    left: 3.325rem;
    top: 3.975rem;
    width: 2.125rem;
    height: 0.2rem;
    background: #f00; }
  section.add p {
    margin-left: 3.325rem;
    margin-top: 1.8rem;
    line-height: 1.2rem;
    font-size: 0.7rem;
    width: 12.25rem; }
  section.add div {
    margin-left: 3.325rem;
    margin-top: 0.75rem;
    line-height: 1.2rem;
    font-size: 0.7rem;
    width: 12.25rem; }

footer {
  height: 9.45rem;
  width: 18.75rem; }
  footer div {
    height: 6.05rem;
    width: 100%;
    background: url(../img/map.png) no-repeat;
    background-size: 100%; }
  footer p {
    color: #989898;
    line-height: 3.4rem;
    font-size: 0.65rem;
    text-align: center; }

/*# sourceMappingURL=index.css.map */
