html{font-size:20px}

.b_header{width: 16rem;}
.b_header img{
    width: 16rem;
    height:8rem;
}

.b_nav{
    width:17rem;
    height: 7rem;
    background: #fafafa;
}
.b_nav .active .intr-svg .st0 {
    fill:red
}
.b_nav a{
    display: block;
    width: 3.5rem;
    height: 4.5rem;
    /*position: relative;*/
    float: left;
    margin: 2rem 0 2rem 0.5rem;
}
.b_nav a .intr-svg {
    width: 3rem;
    height: 2rem;
    margin-bottom: 0.6rem;
}
.b_nav a p{
    width:3.2rem;
   /* position: absolute;
    bottom: 0;
    left:0;*/
}
.b_nav a p em{
    display: block;
    font-size: 0.6rem;
    width:3.2rem;
    height: 0.9rem;
    line-height:0.9rem;
    text-align: center;
}
.b_nav a .on{  color: red;}


.b_main{
    width: 16rem;
    height: 16rem;
    margin-top: 1rem;
    overflow: hidden;
}
.b_main ul{
    width: 64rem;
    height:100%;
    position: relative;
}
.b_main ul li{
    width: 13.7rem;
    padding:0 1.15rem;
    float: left;

}
.b_main ul .show{
    display: block;
}
.b_main ul li h2{
    display: block;
    height: 4rem;
    line-height: 4rem;
    font-size: 1.5rem;
    font-weight: bold;
    color:red;
    text-indent: 0.4em;
    background: url("../img/b5.png") no-repeat 0;
    background-size: 0.2rem 1.2rem;
}
.b_main ul li .ol1{
    margin-top: 0.5rem;
    height:2.7rem;
}
.b_main ul li .ol1 dd{
    width: 2.5rem;
    height:2.7rem;
    float: left;
}
.b_main ul li .ol1 dd img{
    width: 1.7rem;
    height: 1.7rem;
}
.b_main ul li .ol2{
    height:2.7rem;
}
.b_main ul li .ol2 dd{
    width: 4.5rem;
    height:2rem;
    text-align: center;
    line-height: 2rem;
    float: left;
}
.b_main ul li .ol2 dd img{
    width: 1.4rem;
    height:1rem;
    float: left;
    margin-right: 0.1rem;
}
.b_main ul li p{
    margin-top: 0.1rem;
    font-size: 0.7rem;
    line-height: 1rem;
    color:#464646;
}



